<?xml version="1.0" encoding="UTF-8"?>

<!-- 
Configuration Spring pour la couche métier.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="
	     	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
          	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
          	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
    
    
    <bean id="clamavPropertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:clamav.properties" />
        <property name="placeholderPrefix" value="$clamav{" />
    </bean>
    
  
    
    <bean id="configuration" class="hornet.framework.clamav.Configuration">
        <property name="nbThread" value="$clamav{antivirus.test.nbThread}" />
        <property name="nbFichier" value="$clamav{antivirus.test.nbFichier}" />
        <property name="tpsAcceptable" value="$clamav{antivirus.test.tpsAcceptable}" />
        <property name="cheminFichier" value="$clamav{antivirus.test.fichier.path}" />
        <property name="chemin" value="$clamav{antivirus.test.path}" />
        <property name="ressources" value="$clamav{antivirus.test.ressources}" />
        
<!--         <property name="timeout" value="$clamav{antivirus.timeout}" />
		<property name="connectTimeout" value="$clamav{antivirus.connectTimeout}" />
 -->
    </bean>
    
    <!-- Service pour l'upload et l'analyse -->
    <bean id="clamServiceCheck" class="hornet.framework.clamav.service.ClamAVCheckService">
        <property name="clamAVServer" value="$clamav{antivirus.serverAddress}" />
        <property name="clamAVPort" value="$clamav{antivirus.serverPort}" />
        <property name="timeout" value="$clamav{antivirus.timeout}" />
        <property name="connectTimeout" value="$clamav{antivirus.connectTimeout}" />
    </bean>    
    
    <!-- Service pour l'upload et l'analyse -->
    <bean id="clamAvSimulatorServiceCheck" class="hornet.framework.clamav.service.ClamAVCheckService">
        <property name="clamAVServer" value="localhost" />
        <property name="clamAVPort" value="$clamav{antivirus.serverPort}" />
        <property name="timeout" value="$clamav{antivirus.timeout}" />
        <property name="connectTimeout" value="$clamav{antivirus.connectTimeout}" />
    </bean>    
    	
</beans>