<?xml version="1.0" encoding="UTF-8"?>

<!-- Ce fichier est utilisé uniquement pour l'initialisation de l'application -->

<configuration>
	<appender name="A2" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{ISO8601}|%-5level|%t|%c|%m %ex{full}%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="A2" />
	</root>
</configuration>